/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#wood.shadow {
  box-shadow: 0 0px 0px #333;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 0;
}

.two-thirds {
  flex: 66.17%;
}

.one-third {
  flex: 32.33%;
  margin-left: 1.5%;
}

.thirds {
  flex: 32.33%;
  margin-left: 1.5%;
}

.thirds-left {
  flex: 32.33%;
}
