/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#wood.shadow {
  box-shadow: 0 0px 0px #333;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 0;
}

.two-thirds {
  flex: 64%;
  margin-right: 1%;
}

.one-third {
  flex: 33%;
  margin-left: 1%;
}

.third-left {
  flex: 32%;
}
